body{
    background-color: black;
    color: white;
}

#textboxid
{
    height:2em;
    font-size:12pt;
}

h1, h3{
    text-align: center;
}
form{
    margin: 0 20%;
}
table{
    width: 60%;
    margin: 0 20%;
}
td{
    padding: 20px;
    border: solid white 1px
}

#addBtn{
    margin: 2px 40%;
    width: 20%;
    padding: 10px;
}